@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-base: #2c2d32;
  --color-secondary: #323339;
  --color-active: #414248;
  --color-accent: #ffffff;
  --color-active2: #5865f2;
}

:root {
  --font-playwrite: "Noto Sans", sans-serif;
}

body {
  font-family: var(--font-playwrite);
  font-weight: 500;
  /* background-color: var(--color-secondary); */
}
